body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}

.flex-container {
    border: 3px dashed darkcyan;
    background-color: lightyellow;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
    align-content: space-around;
}

.flex-item {
    width: 250px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 0.5rem;
    background-color: #bbb;
    color: #333;
    gap: 20px;
}

.item1 {
    min-height: 100px;
    order: 3;
}

.item2 {
    min-height: 200px;
    order: 1;
    
}

.item3 {
    min-height: 300px;
    order: 2;
    flex-grow: 1;
}